
.profile-container {
    display: flex;
    align-items: center; /* Vertically align avatar and text */
    justify-content: flex-start; /* Align to the left side */
    gap: 20px;
    margin-top: 10px;
    padding: 20px;
    background-color: inherit;
  
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .profile-avatar {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    margin-top: 5px;
    border-radius: 70%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  
  }
  @media (max-width: 600px) {
    .profile-avatar {
      width: 100px !important;
      height: 100px !important;
    }
  }
  .profile-card {
    display: flex;
    align-items: left;
    flex-direction: column; /* Ensure text is vertically stacked */
    padding: 20px;
    background: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  
    @media (max-width: 600px) {
      width: 90%;
    }
  }
  
  .profile-card-text {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .get-in-touch-button {
    display: flex;
    // justify-content: flex-end;
    margin-top: 10px;
  }
  

  
  .small-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
  }
  
  .app-bar {
    background-color: #e8e8e8 !important;
    color: black;
  }
  
  
  .resume-button {
    position: absolute;
    bottom: 20px;
    right: 30px;
  }
  