.outercontainer {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    
    @media (max-width: 768px) {
      max-width: 100%;
      padding: 10px;
    }
  
    @media (max-width: 480px) {
      max-width: 100%;
      padding: 5px;
    }
  }
  
  .MuiCard-root {
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  
  .MuiListItem-root {
    padding: 10px;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  
    @media (max-width: 768px) {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  .modalContainer {
    position: absolute;
    max-width: 250px;
    background: white;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
  
    @media (max-width: 768px) {
      max-width: 200px;
    }
  
    @media (max-width: 480px) {
      max-width: 180px;
      font-size: 12px;
    }
  }
  
.skills{ 
    
    width: 100%; font-weight: bold; text-align: left; margin-bottom: 16px;
    flex-grow: 1; 
    @media (max-width: 480px) {
        display: flex;
        max-width: 180px;
        font-size: 10px;
        font-weight: bold;
      }
    }
.skills-typor { 
  width: 100%; font-weight: bold; text-align: left; margin-bottom: 16px;
  flex-grow: 1; 

  @media (max-width: 480px) {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    flex-grow: 1;
    flex-shrink: 0;
  }
}
  
  
.custom-box {
    max-width: 800px;
  
    height: 250px;
    // margin-top: 25px;
    margin: auto;
    padding: 16px;
    text-align: left;
    position: relative;
    background: #f8f9fa;
    border-radius: 10px;
    flex-direction: column;
    // flex-wrap: wrap;
    display: flex;
    box-shadow: 5px 5px 5px 5px #888888;
    gap: 3;
     // Ensures content scrolls if it overflows
    overflow-y: auto; 
    scrollbar-width: thin; // For Firefox
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    // display: flex;
    // width: 600px;
    // background-color: transparent;
    // padding: 16px; /* Equivalent to p: 2 */
    // height: 250px;
    // position: relative;
    // box-shadow: 5px 5px 5px 5px #888888;
    // overflow-y: auto;
    // border: 3px solid black;
    // margin: 20px 20px 0px 20px;
    // border-radius: 10px;
    // border-color: var(--background); /* Use a CSS variable or define it */
    // flex-direction: row;
    // overflow: auto;
    // flex-wrap: wrap;
    // justify-content: center;
    // gap: 12px; /* Equivalent to gap: 3 (assuming 1 unit = 4px) */
    @media (max-width: 480px) {
      // margin: 10px auto;
      margin-right: 90px;
      width: 80%;
    }
    }
    
    /* Hide scrollbar for WebKit-based browsers */
    .custom-box::-webkit-scrollbar {
    display: none;
    }
    